body{
    background: blueviolet;
    color: aqua;
    font-family: 'Poppins', sans-serif;
}

img{
    float: left;
    margin: 5rem;
}

p{
    float: right;
    margin: 5rem;
}

h1{
    display: flex;
    justify-content: center;
}

.main{
    border: 2px solid black;
}